:host {
  width: 100%;
}

.risk-controls {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
