@import "../../../colors";

.footer {
  background: $footer-background;
  height: 50px;
  //opacity: 0;
  //width: 0;
  //transition: opacity 3s, width 3s;
  //
  //&:hover {
  //  opacity: 1;
  //  width: 100%;
  //  transition: opacity 1s, width 1s;
  //}

  .content {
    padding: 16px 20px 0;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}
