h3 {
  display: flex;
}

.actions {
  flex-grow: 1;
  padding-right: 10px;
  text-align: right;

  mat-icon {
    cursor: pointer;
    position: relative;
    top: 3px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(1, 0.3, .85, 1.2);
}

.drop_list.cdk-drop-list-dragging .accordion-wrapper{
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

//.drop_list.cdk-drop-list-dragging .accordion-wrapper.cdk-drag-placeholder {
//  transition: transform 50ms cubic-bezier(0, 0, 0.2, 1);
//}
