<div class="estimation_root" *ngIf="(estimation$ | async) as estimation; else notInitialized">
  <etmr-estimation-text [node]="estimation" [placeholder]="'Project Name'" [fontSize]="'1.6em'"></etmr-estimation-text>

  <h3>
    Work item packages
    <span class="actions">
      <mat-icon (click)="addTopic(estimation)" matTooltip="Add package">create_new_folder</mat-icon>
    </span>
  </h3>

  <mat-accordion class="drop_list" cdkDropList multi="true">
    <div class="accordion-wrapper" cdkDrag *ngFor="let topic of estimation.children">

      <etmr-topic
        [topicNode]="topic">
      </etmr-topic>

    </div>
  </mat-accordion>
</div>

<ng-template #notInitialized>
  <div>
    Not Init
  </div>
</ng-template>
