:host {
  position: sticky;
  top: 0;
}

mat-toolbar {
  z-index: 1;
}

h1 {
  flex-grow: 1;

  .brand {
    cursor: pointer;
    outline: none;
    user-select: none;
    text-decoration: none;
  }
}

button:not(:last-child) {
  margin-right: 10px;
}
