:host:not(:last-child) {
  mat-expansion-panel {
    margin-bottom: 20px;
  }
}

h4 {
  margin: 0;
  padding-top: 2px;
}

.toolbar {
  mat-icon {
    cursor: pointer;
    user-select: none;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  text-align: right;
}
