:host:not(:last-child) {
  mat-expansion-panel {
    margin-bottom: 20px;
  }
}

h4 {
  margin: 0;
  padding-top: 2px;
}

.toolbar {
  mat-icon {
    cursor: pointer;
    user-select: none;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  text-align: right;
}

.single-estimates {
  overflow-x: auto;
  @media screen and (max-width: 626px){
    max-height: 250px;
    overflow-y: auto;
  }
}
