<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <ng-content></ng-content>
      <h4>{{topicNode.data}}</h4>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="toolbar">
    <mat-icon matTooltip="Delete this item" (click)="delete()">delete</mat-icon>
    <mat-icon matTooltip="Rename this item" (click)="rename()">edit</mat-icon>
    <mat-icon matTooltip="Add task" (click)="addSingleEstimate()">add_box</mat-icon>
  </div>

  <etmr-single-estimate
    *ngFor="let single of topicNode.children"
    [singleEstimate]="single">
  </etmr-single-estimate>
</mat-expansion-panel>
